<footer>
    
    <div class="f-customer mt-4">
        <div class="support">

        <div class="heading mt-3">Support</div>
        <br>
        <a href="hello" class="mb-1 mt-1">AirCover</a>
        <a href="hello" class="mb-1 mt-1">Anti-discrimination</a>
        <a href="hello" class="mb-1 mt-1">Disibility Support</a>
        <a href="hello" class="mb-1 mt-1">Cancellation opitons</a>
        <a href="hello" class="mb-1 mt-1">Report neighbourhood concern</a>
        </div>
        <div class="hosting">
          <div class="heading mt-3">Hosting</div>
            <br>
           <a href="" class="mb-1 mt-1">Airbnb your home</a>
           <a href="" class="mb-1 mt-1">Hosting resources</a>
           <a href="" class="mb-1 mt-1">Community forum</a>
           <a href="" class="mb-1 mt-1">Hosting responsibly</a>
           <a href="" class="mb-1 mt-1">Join a free Hosting class</a>
           <a href="" class="mb-1 mt-1">Find a co-host</a>
        </div>
        <div class="airbnb">

           <div class="heading mt-3">Airbnb</div>
            <br>
           <a href="" class="mb-1 mt-1">2025 Summer Release</a>
           <a href="" class="mb-1 mt-1">Newsroom</a>
           <a href="" class="mb-1 mt-1">New features</a>
           <a href="" class="mb-1 mt-1">Careers</a>
           <a href="" class="mb-1 mt-1">Inverstors</a>
           <a href="" class="mb-1 mt-1">Airbnb.org emergency stays</a>

        </div>
    </div>

     <hr>

    <div class="f-info"> 

        <div class="f-info-socials">
            &copy; Wanderlust Private Limited
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
      
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>