<% layout('/layouts/boilerplate') -%>
<body>
    
  
   <h2>Edit your listing</h2>
   <br>
  <form action="/listings/<%= listing.id %>?_method=PUT" method="POST">
    <input name="listing[title]" placeholder="enter title" type="text"> <br><br>
    <textarea name="listing[description]"  placeholder="enter title"></textarea><br><br>
    <input name="listing[image]"  placeholder="enter img/url" type="text"><br><br>
    <input name="listing[price]"  placeholder="enter price" type="number"><br><br>
    <input name="listing[location]"  placeholder="enter location" type="text"><br><br>
    <input name="listing[country]" placeholder="enter country" type="text"><br><br>
 <button type="submit">Add</button>
</form>


</body>


