<% layout('/layouts/boilerplate') %>
<div class="row"
style="margin-top: 3rem;"
>
    <img src="/page-not-found.png" alt="page_img" style="">
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
</div>