<% layout('/layouts/boilerplate') -%>
<div class="container text-center mt-5">
    <h1 class="main-heading">Welcome to Wanderlust!</h1>
    <p class="lead type-writter  sub-heading">Find your next adventure or list your unique place to stay.</p>
    <div class="mt-4">
        <a href="/listings" class="btn btn-primary btn-lg m-2">View All Listings</a>
        <a href="/listings/new" class="btn btn-success btn-lg m-2">Add New Listing</a>
    </div>
</div>