<% layout('/layouts/boilerplate') -%>
<div class="container text-center mt-5">
    <h1 class="main-heading" style="color: pink;">Welcome to Wanderlust!</h1>
  <p class="subheading typewriter">Find your next adventure</p>

    <div class=" zoom-effect mt-4">
        <a href="/listings" class="btn btn-primary btn-lg m-2">View All Listings</a>
        <a href="/listings/new" class="btn btn-success btn-lg m-2">Add New Listing</a>
    </div>
</div>