<% layout('/layouts/boilerplate') %>
<body>
    <style>
  /* Already existing styles above... */

  @media (max-width: 768px) {
    #filter {
      overflow-x: auto;
      white-space: nowrap;
      padding: 1rem 0.5rem;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge */
    }

    #filter::-webkit-scrollbar {
      display: none; /* Chrome/Safari */
    }

    .filter {
      flex: 0 0 auto;
      margin-right: 1rem;
      font-size: 0.65rem;
    }

    .row.row-cols-lg-4 {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    .listing-card img {
      height: 14rem !important;
    }

    .card-body p {
      font-size: 0.8rem;
    }
  }
</style>

    <style>
        #filter{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 1.5rem;
            margin-top: 2rem;
            opacity: 0.4;
            font-size: small;
        }
        .filter p  {
            font-size: 0.7rem;
        }
        .filter:hover {
            opacity: 1;
            cursor:pointer;
        }
        .filter p:hover{
            text-decoration: underline;
        }

        .tax-info {
            display: none;
            font-size: xx-small;
        }

        .tax-toggle {
            border: 1px solid rgba(0, 0, 0, 0.125);
            margin-left: 1rem;
            border-radius: 1rem;
            
            padding: 10px;
            font-size: smaller;  
            align-items: center;
        }
        
        #dropdownMenuButton{
            font-size: x-small;
        }
        
        .dropdown-item {
            font-size: xx-small;
        }
    </style>

 <div id="filter">


 <div class="filter"><i class="fa-solid fa-fire"></i> <p>trending</p></div>
 <div class="filter"><i class="fa-solid fa-person-hiking"></i><p>hiking</p></div>
 <div class="filter"><i class="fa-solid fa-cow"></i><p>farmhouse</p></div>
 <div class="filter"><i class="fa-solid fa-snowflake"></i><p>snow sites</p></div>
 <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>pools</p></div>
 <div class="filter"><i class="fa-solid fa-bed"></i><p>bedrooms</p></div>
 <div class="filter"><i class="fa-solid fa-mountain-city"></i><p>iconic cities</p></div>
 <div class="filter"><i class="fa-solid fa-campground"></i><p>camping</p></div>
 <div class="filter"><i class="fa-solid fa-volcano"></i><p>volcanos</p></div>
<div class="filter"><i class="fa-regular fa-hospital"></i><p>hospitals</p></div>
 <div class="filter"><i class="fa-solid fa-tree"></i><p>forests</p></div>
  <div class="filter"><i class="fa-solid fa-ship"></i><p>boating</p></div>
    <div class="tax-toggle">   
    <div class=" form-switch form-check-reverse ">
            <input class="form-check-input" type="checkbox" id="switchCheckReverse">
            <label class="form-check-label" for="switchCheckReverse">Display after taxes</label>
    </div>
    </div>   
 </div>

 <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" 
          data-bs-toggle="dropdown" aria-expanded="false">
    filters
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>



<!--Listing section-->
 <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 height:10px mt-3"> 

    <% for (let listing of allListings) { %>
    
    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img 
               src="<%= listing.image?.url || '/default.avif' %>"
                class="card-img-top" 
                alt="listing image"  
                style="height: 20rem; object-fit: cover;"
                onerror="this.onerror=null; this.src='/default.avif';" />
                 
            <div class="card-img-overlay">Get info</div>

            <div class="card-body">            
                <p class="card-text">
                    <b><%= listing.title %></b>  <br> 
                    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night 
                    &nbsp; &nbsp; <i class="tax-info">+ 18% GST</i>
                </p>
            </div>
        </div>
    </a>
    <br>
    <% } %>
</div>
</body>

<script>
    const taxSwitch = document.getElementById("switchCheckReverse");
    taxSwitch.addEventListener("change", () => {
        const taxInfo = document.getElementsByClassName("tax-info");
        for (let info of taxInfo) {
            info.style.display = taxSwitch.checked ? "inline" : "none";
        }
    });
</script>