<% layout('/layouts/boilerplate') -%>
<body>
    <h2>All Listings</h2>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <ul>      
    <% for(let l of allListings) { %>
         <li> <a href="/listings/<%= l.id %>"><%=  l.title%> </a></li> 
      <% } %>
    </ul>

</body>


